<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous" />
  </head>
  <style>
    .list-group-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <body>
    <%- include('nav.html') %>

    <div class="container input-group mb-2">
      <input class="form-control" id="search-input"
          value="<%= searchValue %>" />
      <button class="input-group-append btn btn-danger" id="search">검색</button>
    </div>

    <ul class="list-group list-group-flush container">
      <%- include('post.html') %>
    </ul>


    <script>
      $('#search').click((e) => {
        const searchValue = $('#search-input').val();

        window.location.replace(`/search?value=${searchValue}`);
      })

      $('.button-wrapper').click(function(e) {
        e.stopPropagation()
      })

      $('.post').click(function(e) {
        const {
          id
        } = e.target.dataset;
        location.href = `/detail/${id}`;
      });

      $('.update').click(function(e) {
        const {
          id
        } = e.target.dataset;
        location.href = `/edit/${id}`;
      });

      $('.delete').click(function(e) {
        const {
          id
        } = e.target.dataset;
        $.ajax({
            method: 'DELETE',
            url: '/delete',
            data: {
              id
            },
          })
          .done((res) => {
            $(this).parent('li').fadeOut();
          })
          .fail((xhr, textStatus, errorThrown) => {
            console.log(xhr, textStatus, errorThrown);
          });
      });
    </script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
  </body>

</html>