<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous" />
  </head>
  <style>
    .list-group-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <body>
    <%- include('nav.html') %>

    <h4>업로드 페이지</h4>

    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="profile" multiple />
      <button type="submit"
          class="input-group-append btn btn-primary">저장</button>
    </form>


    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
  </body>

</html>